<div class="container">
  <div class="form-container">
      <div class="title">Login</div>
      <form [formGroup]="loginForm">
          <mat-form-field appearance="outline">
              <mat-label>Enter you email</mat-label>
              <input matInput formControlName="email" required/>
              <mat-error *ngIf="loginForm.controls.email.invalid">
                {{loginForm.controls.email.hasError('required') ? 'This field is requiored' : 'Email is invalid'}}
              </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Enter you password</mat-label>
              <input type="password" matInput formControlName="password" required/>
              <mat-error *ngIf="loginForm.controls.password.invalid">
                {{loginForm.controls.password.hasError('required') ? 'This field is invalid' : '6 is minium length'}}
              </mat-error>
          </mat-form-field>
      </form>
      <div class="buttons-container">
          <button mat-raised-button [disabled]="loginForm.invalid" (click)="getUser()" class="login-button">
              Login
          </button>
          <p>OR</p>
          <button mat-button routerLink="/create-account">Create account</button>
      </div>
  </div>
</div>